<h3>{{ViewTitle}}</h3>  
<form action="/registers" method="POST" autocomplete="off">  
<div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s3">
           FirstName: <input type="text" name="firstname"vale ={{registers.firstName}}><br />  
            SecondName: <input type="text" name="secondname"value ={{registers.secondName}}><br/>  
             RegNumber: <input type="text" name="regnumber"value = {{registers.RegNumber}}><br/>  
              Email: <input type="email" name="email" value ={{registers.Email}}><br/>
               Password: <input type="password" name="password" value ={{registers.Password}}><br/>     
             <input type="submit" value="Login" name="signin" />Not registered?<a href="/registers">Register</a> 
                 </div>
            </form>
           </div>
       </div>
</form>  
   